<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Data Access</title>
</head>
<body>
<h1>manage data access</h1>

{% if data|length == 0 %}
    <h2>No data request record</h2>
{% else %}
    <table>
        <thead>
        <tr>
            <th>Decision</th>
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>
                    <form action='{{ url_for('manage_data_access', recno=row.recno, approved=True) }}' method='post'>
                        <input type='submit' value='Approve'>
                    </form>
                    <form action='{{ url_for('manage_data_access', recno=row.recno, approved=False) }}' method='post'>
                        <input type='submit' value='Decline'>
                    </form>
                </td>
                {% for d in row.values() %}
                    <td>{{ d }}</td>
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>