<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Data Access</title>
</head>
<body>
<h1>manage data access</h1>

{% if data|length == 0 %}
    <h2>No data request record</h2>
{% else %}
    <table>
        <thead>
        <tr>
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for d in row.values() %}
                    <td>{{ d }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <form action='{{ url_for('manage_data_access', recno=row.recno, approved=True, request_user=row.user_id) }}' method='post'>
                        <input type='submit' id="approve" name="approve" value='Approve'>
                        <select id="file_id" name="file_id">
                            {% for info in file_info %}
                                <option value="{{ info.id }}">{{ info.name }}</option>
                            {% endfor %}
                        </select>
                    </form>

                    <form action='{{ url_for('manage_data_access', recno=row.recno, approved=False) }}' method='post'>
                        <input type='submit' id="decline" name="decline" value='Decline'>
                        <input type="text" id="reason" name="reason" placeholder="reason">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>