<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request History</title>
</head>
<h1>Request History</h1>
<body>
<table>

    <div><a href='{{ url_for('user_profile') }}'>Back</a></div>
    <div><a href='{{ url_for('request_data_form') }}'>New Request</a></div>
    {% if data|length == 0 %}
        <h2>No data request record</h2>
    {% else %}
        <thead>
        <tr>
            <th>Delete</th>
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>
                    <form action='{{ url_for('delete_request', recno=row.recno) }}' method='post'>
                        <input type='submit' value='Delete'>
                    </form>
                </td>
                {% for d in row.values() %}
                    <td>{{ d }}</td>
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

</body>
</html>