@import '~antd/dist/antd.css';

.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1010;
}

.nav-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  color: #500000;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-collapse {
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-nav {
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  color: #500000;
  padding: 0.5rem 1rem;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.mainBody {
  padding: 20px 100px;
}

.datasetName {
  background-color: lightgray;
  padding-left: 12.5px;
  border-radius: 5px;
}

.text-dark {
  color: #343a40 !important;
}

.text-center {
  text-align: center !important;
}

.testImg {
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursorpointer {
  cursor: pointer;
}

.columnListWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}